.gitignore
.ipynb_checkpoints
db
db-*
db/chroma.sqlite3
*.pem
__pycache__
.venv
aws
.env
.env.*
log
logs
My_logos
*.yaml
utility
main_app_test*
main_app_tutorial*
main
*.db
chat_log
chat_hist.json
error_log.txt
demo.py
devdata.txt
logs-pes*
LICENSE
main.py
dbclasses
commitmsg
